/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 
#0b7bc1
tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/

body {
    background-color: #b2bec3;
    font-family: 'Nunito', sans-serif;
}

.ctverec {
    background-color: white;
    width: 550px;
    margin: 150px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px gray;
    position: relative;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #d63031;
    margin-top: 0;
    margin-bottom: 30px;
}

.foto-uvod {
    width: 150px;
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    right: -75px;
    top: -75px;
}

p {
    text-align: justify;
}

a {
    display: inline-block;
    width: 100%;
    font-variant : small-caps;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.twitter {
    background-color: #1da1f2;
}

.fb {
    background-color: #3b5998;
    margin-top: 5px;
}

.tlacitka {
    margin-top: 30px;
}

.twitter a:active,
.twitter a:hover,
.twitter a:focus {
    background-color: #0b7bc1;
}

.fb a:active,
.fb a:hover,
.fb a:focus {
    background-color: #2b406e;
} 